/*用户自定义CSS*/
html {
    height: 100%;
    margin: 0;
}

body
{
    height: 100%;
    margin: 0;
    overflow: -moz-scrollbars-vertical;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.ict-panel-heading {
    padding: 10px 15px;
    border-bottom: 0 solid transparent;
    border-top: 4px solid #9fdda7;
}

a:link {
    color: #434449;
}

a:visited {
    color: #434449;
}

a:hover {
    color: #434449;
}

.copyright {
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 5px;
    padding-bottom: 0;
    height: 4em;
    background-color: #ffffff;

}
.copyright span {
    margin: 0.5em;
}
.copyright a {
    color: #555555;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -4em;
    margin-bottom: 0;
}

.index-thumbnail {
    height: 400px;
}

.carousel-control.right{
    background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.carousel-control.left{
    background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)

}

.carousel_style{
    max-height: 200px;
}

.register_input{
    padding-bottom: 0.5em;
}
.narbar_li{
    width: 2em;
    height: 2em;
}
.narbar_font_size{
    font-size: 16px;
}
.key_info{
    color: #ff0000;
    font-size: large;
}
#info_dropdown{
    width: 300px;
}

.info_dropdown_menu{
    min-width: 300px;
}

.btn-a-light:link,
.btn-a-light:visited,
.btn-a-light:hover,
.btn-a-light:active{
    color: white;
}

.login_form{
    padding-top: 4em;
}
.sign{
    margin-top: 1em;
    margin-right: 1em;
}
.dropdown-menu-profile{
    background-color: rgba(253, 232, 211, 0.8);
}

.dropdown-menu-profile-item{
    width:1px;
    border:1px solid black;
    float:left;height:15px;
}
.profile-thumbnail{
    border: 0px;
}

#contact-us h1{
    color: #c1837b;
}

#contact-us li{
    font-size: 20px;

}

#navbar-username, #navbar-menu{
    color: #fd7d56;
}
.dropdown li a:hover{
    color: #32c12d;
}

.profile-sidebar{
    padding: 10px 0 10px 0;
    background-color: #f8f8f8;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usermenu{
    margin-top: 10px;
}
.profile-usermenu ul li{
   padding:0;
}
.profile-usermenu li h4 {
    color: #f4645f;
    border-bottom: 1px solid #ebebeb;
}


.profile-usermenu ul li a {
    color: #8d9cae;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding-left: 60px;
}

.profile-usermenu ul li i {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #f4645f;
    color: #ffffff;
}

.master-profile-panel .form-group{
    margin-left: 20px;
    width: 400px;
    margin-bottom: 20px;

}

a.basic-info-a{
    color: #f4645f;
}
.self-btn-danger{
    background-color: #f4645f;
}
.input-group-verification{
    width: 300px;
}
.avatar-upload{
    margin-right: 50px;
    padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.avatar-upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.avatar-upload:hover{
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
#display_avatar_block{
    margin: 20px 20px;
}
#display_avatar_div{
    display: none;
}

#display_avatar_div button{
    margin-left:20px;
    margin-bottom: 10px;
}












