/*用户自定义CSS*/
html {
    height: 100%;
    margin: 0;
}

body
{
    height: 100%;
    margin: 0;
    overflow: -moz-scrollbars-vertical;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.ict-panel-heading {
    padding: 10px 15px;
    border-bottom: 0 solid transparent;
    border-top: 4px solid #9fdda7;
}

a:link {
    color: #434449;
}

a:visited {
    color: #434449;
}

a:hover {
    color: #434449;
}

.copyright {
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 5px;
    padding-bottom: 0;
    height: 4em;
    background-color: #ffffff;

}
.copyright span {
    margin: 0.5em;
}
.copyright a {
    color: #555555;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -4em;
    margin-bottom: 0;
}

.thumbnail {
    height: 400px;
}

.carousel-control.right{
    background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.carousel-control.left{
    background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)

}

.carousel_style{
    max-height: 200px;
}

.register_input{
    padding-bottom: 0.5em;
}
.narbar_li{
    width: 2em;
    height: 2em;
}
.narbar_font_size{
    font-size: 16px;
}
.key_info{
    color: #ff0000;
    font-size: large;
}
#info_dropdown{
    width: 300px;
}

.info_dropdown_menu{
    min-width: 300px;
}

.btn-a-light:link,
.btn-a-light:visited,
.btn-a-light:hover,
.btn-a-light:active{
    color: white;
}

.login_form{
    padding-top: 4em;
}
.sign{
    margin-top: 1em;
    margin-right: 1em;
}
.dropdown-menu-profile{
    background-color: rgba(255,255,255,0.8);
}