<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap的基本模板</title>
<!-- Bootstrap -->
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="VIP.css" rel="stylesheet">
<!-- 引入下面两个库让 IE8 支持 HTML5 元素 -->
<!-- 警告: Respond.js 通过 file:// 浏览的时候不能正常工作！-->
<!--[if lt IE 9]>
   <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
   <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>
<body>

<div class="container">
	<div class="header row">
		<div class="col-md-4">
			<h2><img  id="logo" src="logo.png"><a href="">&nbsp;海知科技</a></h2>
		</div>
	</div>
</div>



<div class="header-section"> 
    <div class="title"><a href="#">VIP特权</a>
	</div>
	<div class="container">
		<div class="col-md-4 header-grid-info">
			<div class="header-grid gray">
				<div class="header-grid-img gray-grid"> <img src="v1.png" alt="">
					<h3>丰厚奖金</h3>
					<p>VIP用户可直接参与金榜挑战赛，快来这里大展身手吧~~~丰厚奖金等你来拿哦，赶快加入我们吧！ </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 header-grid-info">
			<div class="header-grid">
				<div class="header-grid-img"> <img src="v2.png" alt="">
					<h3>无限提问</h3>
					<p>VIP用户可登陆我们的论坛网站进行无限次提问，您的任何问题小坛主都会为您尽心尽力一一解答~~~ </p>
				</div>
			</div>
		</div>
		<div class="col-md-4 header-grid-info">
			<div class="header-grid blue">
				<div class="header-grid-img blue-grid"> <img src="v3.png" alt="">
					<h3>理财特助</h3>
					<p> VIP用户可以查看理财师观点，助您早日打入理财高手榜。更多VIP特权，请您敬请期待哦~~~~</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--footer -->


<footer class="myfooter">
	<p><span class="glyphicon glyphicon-info-sign"></span>&nbsp;<a href="#">关于我们</a>&nbsp;|&nbsp;<span class="glyphicon glyphicon-earphone"></span>&nbsp;<a href="#">联系我们</a>&nbsp;| &nbsp;<span class="glyphicon glyphicon-question-sign"></span>&nbsp;<a href="#">帮助</a>&nbsp;|&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<a href="#">理财师</a> </p>
	<p><a href="#">深圳海知科技有限公司</a>&nbsp;版权所有&nbsp;|&nbsp;粤ICP备16004052号</p>
</footer>
<!--/.footer -->
<!—导入jQuery版本库，因为Bootstrap的JavaScript插件依赖于jQuery -->
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<!—- 一次性导入所有Bootstrap的JavaScript插件（压缩版本） -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
